.bundle
/tmp/*
/.vagrant
cookbooks/*
.DS_Store
/nodes/192.168.235.140.json
/cookbooks-rails/nginx/files/default/passenger-enterprise-license
/cookbooks-rails/nginx/files/default/passenger-enterprise-server.gem
/cookbooks-rails/rails/files/default/ssl/*
roles/irails-dev.json
roles/prod-*
.rubocop_todo.yml


